{% extends "FourPixelsBundle::layout.html.twig" %}

{% block title "Symfony - Notes" %}

  {% block content_header '' %}

    {% block content %}
      <h1 class="title">slack.getSlack</h1>


    {% endblock %}

    {% set code = code(_self) %}

